<div class="jumbotron text-center">
    <h1>Add a stock</h1>

    <p>{{ message }}</p>
    <p>Search</p>
    <input type="text" ng-model="stock" autofocus>
    <button ng-click="lookup()">Search</button>
    <p>Name -/- Symbol</p>
    <ul class ="list-unstyled">
      <li ng-repeat="n in results">
        {{n.name}} -/- {{n.symb}}
        <a href="#">
          <span class="glyphicon glyphicon-ok" ng-click="getData(n.symb)"></span>
        </a>

      </li>
    </ul>
    <!-- <span>Enter symbol here:</span>
    <input type="text" ng-model="name">
    <button ng-click="addStock()">Add</button>
    <button ng-click="remove()">Remove</button>
    <ul class="list-unstyled">
     <li ng-repeat="n in stocklist track by $index">{{n}}
       <a href="#">
         <span class="glyphicon glyphicon-ok"></span>
       </a>
     </li>
   </ul> -->

</div>
